# Default ignored files
/../../../../../../../../../../../:GolandProjects/awesomeProject/src/awesomeProject/.idea/shelf/
/../../../../../../../../../../../:GolandProjects/awesomeProject/src/awesomeProject/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:GolandProjects/awesomeProject/src/awesomeProject/.idea/dataSources/
/../../../../../../../../../../../:GolandProjects/awesomeProject/src/awesomeProject/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../../../../../../../:GolandProjects/awesomeProject/src/awesomeProject/.idea/httpRequests/
